* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: auto;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    background-color: rgba(7, 7, 78, 0.8);
}

body div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

body div div {
    background-color: green;
    margin: 2em;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    transition: all 100ms linear;
}

body div:nth-of-type(1) div:nth-of-type(2) {
    background-color: red;
}

body div:nth-of-type(2) div:nth-of-type(1) {
    background-color: yellow;
}

body div:nth-of-type(2) div:nth-of-type(2) {
    background-color: blue;
}


h1 {
    color: white;
    text-align: center;
    margin: 1em;
}

body div div:hover {
    border: 5px solid black;
    box-sizing: border-box;
    background-color: gray !important;
}

body div div:active {
    background-color: rgb(0, 0, 0) !important;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
}

.clicked {
    background-color: black !important;
}

.disabled {
    pointer-events: none;
}